<div id="<%= dom_id artist %>"> 
  <tr>
    <td><%= artist.name %></td>
    <td><%= format_date(artist.created_at) %></td>
    <td>
      <%= link_to image_tag('icons/editIcon.png'), edit_artist_path(artist) %>
      <%= link_to image_tag('icons/deleteIcon.png'), artist, data: { "turbo-method": :delete } %>
    </td>
  </tr>
</div>
