<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |artist| %>
          <li><%= artist.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class='form-group'>
    <%= form.label "Nome", style: "display: block" %>
    <%= form.text_field :name, class: "form-control"%>
  </div>
  
  <div class="mt-3 d-flex justify-content-end">
    <%= link_to "Cancelar", artists_path, class: "btn btn-white"%>
    <%= form.submit "Salvar", class: "btn btn-pink ms-2"%>
  </div>
</form>
<% end %>
