<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |movie| %>
          <li><%= movie.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class='form-group'>
    <%= form.label "Título", style: "display: block" %>
    <%= form.text_field :title, class: "form-control", style: "background: none" %>
  </div>

  <div class="row">
    <div class='form-group col-6'>
      <%= form.label "Capa(url)", style: "display: inline-block" %>
      <%= form.text_field :cover_url, class: "form-control", style: "background: none" %>
    </div>
    <div class='form-group col-6'>
      <%= form.label "Estreia", style: "display: block" %>
      <%= form.date_field :published_at, class: "form-control", style: "background: none" %>
    </div>
  </div>

  <div class="row">
    <div class='form-group col-6'>
      <%= form.label "Diretor", style: "display: block" %>
      <%= form.select :director_id,
          Director.all.collect { |director| [director.name, director.id] },
          class: "form-control"
      %>
    </div>
    <div class='form-group col-6'>
      <%= form.label "Gênero", style: "display: block" %>
      <%= form.select :movie_genre_id,
          MovieGenre.all.collect { |movie_genre| [movie_genre.name, movie_genre.id] },
          class: "form-control"
      %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label "Sinopse", style: "display: block" %>
    <%= form.text_field :sinopse, class: "form-control sinopse-field", style: "background: none"%>
  </div>

  <div class='form-group testando'>
    <%= form.label "Elenco", style: "display: block" %>

    <%= form.collection_check_boxes(:artist_ids, Artist.all, :id, :name) do |b| %>
      <%= b.label(class:"label-checkbox") { b.check_box + b.text }%>
    <% end %>
  </div>
  
  <div class="mt-3 d-flex justify-content-end">
    <%= link_to "Cancelar", movies_path, class: "btn btn-white"%>
    <%= form.submit "Salvar", class: "btn btn-pink ms-2"%>
  </div>
</form>
<% end %>
