<div id="<%= dom_id movie %>"> 
  <tr>
    <td><%= movie.title %></td>
    <td><%= Director.find(movie.director_id).name %></td>
    <td><%= MovieGenre.find(movie.movie_genre_id).name %></td>
    <td><%= format_date(movie.published_at) %></td>
    <td>
      <%= link_to image_tag('icons/editIcon.png'), edit_movie_path(movie) %>
      <%= link_to image_tag('icons/deleteIcon.png'), movie, data: { "turbo-method": :delete } %>
    </td>
  </tr>
</div>

<%# 
- Style index pages: new_button, edit/destroy icons
- Style form pages: cancel/save buttons, input
- Style movie form page: inputs
- format dates
- home page - hide sinopse overflow, set cards height
 %>