<div id="<%= dom_id movie %>"> 
  <tr>
    <td><%= movie.title %></td>
    <td><%= Director.find(movie.director_id).name %></td>
    <td><%= MovieGenre.find(movie.movie_genre_id).name %></td>
    <td><%= movie.published_at %></td>
    <td>
      <%= link_to "Edit", edit_movie_path(movie) %> 
      <%= button_to "Destroy this movie", movie, method: :delete %>
    </td>
    <td><%= movie.id %></td>
  </tr>
</div>
