<div id="<%= dom_id movie_genre %>"> 
  <tr>
    <td><%= movie_genre.name %></td>
    <td><%= format_date(movie_genre.created_at) %></td>
    <td>
      <%= link_to image_tag('icons/editIcon.png'), edit_movie_genre_path(movie_genre) %>
      <%= link_to image_tag('icons/deleteIcon.png'), movie_genre, data: { "turbo-method": :delete } %>
    </td>
  </tr>
</div>
