<p style="color: green"><%= notice %></p>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th class="col-md-3" scope="col">Nome</th>
      <th class="col-md-3" scope="col">Registrado em</th>
      <th class="col-md-3" scope="col">Ações</th>
    </tr>
  </thead>
    <tbody>
        <%= render @movie_genre %>
    </tbody>
</table>

<div>
  <%= link_to "Edit this movie_genre", edit_movie_genre_path(@movie_genre) %> |
  <%= link_to "Back to movie_genres", movie_genres_path %>

  <%= button_to "Destroy this movie_genre", @movie_genre, method: :delete %>
</div>
